<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulário</title>
    <!-- Inserção do css do bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<div class="col-md-8 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Formulário POST</h4>
            <p class="card-description"> Preencha as informações corretamente! </p>
            <!-- /dados -->
            <form id="enderecoForm" class="forms-sample" action="/dados" method="post">

                <!-- Grupo para -->
                <div class="form-group">
                    <label for="nomeCompleto"><strong>Nome:</strong></label>
                    <input type="text" class="form-control" id="nomeCompleto" name="nome" placeholder="Nome">
                </div>
                <div class="form-group">
                    <label for="cepInput"><strong>CEP:</strong></label>
                    <input type="text" class="form-control" id="cepInput" name="cep" placeholder="CEP">
                </div>
                
                <div class="form-group">
                    <label for="logradouroInput"><strong>Logradouro:</strong></label>
                    <input type="text" class="form-control" id="logradouroInput" name="logradouro" placeholder="Logradouro">
                </div>
                
                <div class="form-group">
                    <label for="bairroInput"><strong>Bairro:</strong></label>
                    <input type="text" class="form-control" id="bairroInput" name="bairro" placeholder="Bairro">
                </div>
                
                <div class="form-group">
                    <label for="numeroInput"><strong>Número:</strong></label>
                    <input type="text" class="form-control" id="numeroInput" name="numero" placeholder="Número">
                </div>
                
                <div class="form-group">
                    <label for="complementoInput"><strong>Complemento:</strong></label>
                    <input type="text" class="form-control" id="complementoInput" name="complemento" placeholder="Complemento">
                </div>
                
                <div class="form-group">
                    <label for="referenciaInput"><strong>Referência:</strong></label>
                    <input type="text" class="form-control" id="referenciaInput" name="referencia" placeholder="Referência">
                </div>
                
                <div class="form-group">
                    <label for="cidadeInput"><strong>Cidade:</strong></label>
                    <input type="text" class="form-control" id="cidadeInput" name="cidade" placeholder="Cidade">
                </div>
                
                <div class="form-group">
                    <label for="estadoInput"><strong>Estado:</strong></label>
                    <input type="text" class="form-control" id="estadoInput" name="estado" placeholder="Estado">
                </div>
                
                <div class="form-group">
                    <label for="telefone"><strong>Telefone:</strong></label>
                    <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone">
                </div>
                <div class="form-group">
                    <label><strong>Data de Agendamento:</strong></label>
                    <div class="row">
                        <div class="col">
                            <select class="form-control" id="dia" name="dia" required>
                                <option value=""><strong>Dia</strong></option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-control" id="mes" name="mes" required>
                                <option value=""><strong>Mês:</strong></option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-control" id="ano" name="ano" required>
                                <option value=""><strong>Ano:</strong></option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary me-2">Enviar</button>
                <button class="btn btn-dark">Cancelar</button>
            </form>
        </div>
    </div>
</div>

<!-- Inserção do js do bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script>
    const obterDadosCEP = async (cep) => {
        const url = `https://viacep.com.br/ws/${cep}/json/`;

        try {
            const response = await fetch(url);
            if (!response.ok) {
                throw new Error('Erro');
            }
            const data = await response.json();
            return data;
        } catch (error) {
            console.error('Erro:', error);
            return false;
        }
    };

    document.addEventListener("DOMContentLoaded", function() {
        const cepInput = document.querySelector('#cepInput');
        const logradouroInput = document.querySelector('#logradouroInput');
        const bairroInput = document.querySelector('#bairroInput');
        const cidadeInput = document.querySelector('#cidadeInput');
        const estadoInput = document.querySelector('#estadoInput');

        cepInput.addEventListener('input', async function() {
            let cep = cepInput.value.replace(/\D/g, '');
            if (cep.length === 8) { 
                cep = cep.replace(/^(\d{5})(\d{3})$/, "$1-$2");
                cepInput.value = cep;
                const dadosCEP = await obterDadosCEP(cep);
                if (dadosCEP !== false) {
                    logradouroInput.value = dadosCEP.logradouro || '';
                    bairroInput.value = dadosCEP.bairro || '';
                    cidadeInput.value = dadosCEP.localidade || '';
                    estadoInput.value = dadosCEP.uf || '';
                } else {
                    console.log("Erro ao obter os dados do CEP.");
                }
            }
        });
    });
</script>

<script>
    const currentYear = new Date().getFullYear();
    const nomeInput = document.getElementById('nomeCompleto');
    const telefoneInput = document.getElementById('telefone');

    for (let i = 1; i <= 31; i++) {
        document.getElementById('dia').innerHTML += `<option value="${i}">${i}</option>`;
    }

    for (let i = 1; i <= 12; i++) {
        document.getElementById('mes').innerHTML += `<option value="${i}">${i}</option>`;
    }

    for (let i = currentYear; i <= currentYear + 15; i++) {
        document.getElementById('ano').innerHTML += `<option value="${i}">${i}</option>`;
    }

    // Impedir do usuario digitar numeros
    nomeInput.addEventListener('input', function(event) {
        const value = event.target.value;
        event.target.value = value.replace(/[0-9]/g, '');
    });

    // Impedir do usuario digitar letras
    telefoneInput.addEventListener('input', function(event) {
        let value = event.target.value;
        value = value.replace(/\D/g, '');

        if (value.length >= 11) {
            value = `(${value.substring(0, 2)}) ${value.substring(2, 7)}-${value.substring(7, 11)}`;
        }

        event.target.value = value;
    });

</script>

</body>
</html>
